<div class="navbar navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Web App - EmberJS And Grunt</a>
    <ul class="nav navbar-nav">
      <li>{{#linkTo "index"}}Home{{/linkTo}}</li>
      <li>{{#linkTo "about"}}About{{/linkTo}}</li>
    </ul>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>

<div class="navbar navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text">author: Vincent Buzzano &lt;vincent.buzzano@gmail.com&gt;</p>
  </div>
</div>
